@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    max-width: 960px;    /* 최대 너비 */
    margin: auto;         /* 마진 auto - 내용을 화면 가운데 맞추기 위해  */
    font-family: "Noto Sans KR", "Nanum Gothic";        /* 글꼴 - 웹 폰트 */
    font-size:14px;     /* 글자 크기 */
}
h1 {
    font-size: 3rem;    /* 글자 크기 */
    letter-spacing: 0.6rem;  /* 자간 */
    padding-top: 1rem;   /* 위쪽 패딩 */
    padding-bottom: 1rem;   /*  아래쪽 패딩 */
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1em;
}
main {
    display: grid;    /* css grid 사용 */
    grid-template-columns: 40% 60%; /* 왼쪽 40%, 오른쪽 60% */
    margin-top: 3rem;
}
header {
    text-align: center;
    margin: auto 2rem;
}

section {
    margin: auto 1rem 4rem 2rem;
}

p {
    margin: 0.2rem auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100; 
    margin-bottom: 0;
}

i {
    margin-right: 0.5rem;    /* SNS 아이콘 오른쪽 여백 */
}

#mainLeft {
    border-right: 1px solid lightgray;
}


.fa, .fab, .fas {    /* .fas 추가 */
    color: black;
    transition: color 0.3s; /* 색상 바뀔 때 부드럽게 */
}

body.dark-mode .fa, 
body.dark-mode .fab, 
body.dark-mode .fas {
    color: #f1f1f1; /* 밝은 회색/흰색 */
}


@media screen and (max-width: 768px) {
    
    main {
        display: flex;
        flex-direction: column;
    }
    
    #mainLeft, #mainRight {
        width: 100% !important;
        max-width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    
    #mainLeft {
        border-right: none !important;
        border-bottom: none !important;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

body.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}

body.dark-mode a {
    color: #8ab4f8;
}

body.dark-mode .fa, body.dark-mode .fab {
    color: #f1f1f1;
}

body.dark-mode hr {
    background-color: #555;
}

body.dark-mode #mainLeft {
    border-right: 1px solid #555;
}

body.dark-mode span {
    color: #bbb !important;
}

body.dark-mode p {
    color: #ddd;
}
