@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    max-width: 960px;
    margin: auto;
    font-family: "Noto Sans KR", "Nanum Gothic";
}
h1 {
    font-size: 3rem; 
    letter-spacing: 0.6rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}

header {
    text-align: center;
    margin: auto 2rem;
}

section {
    margin: auto 1rem 4rem 2rem;
}

p {
    margin: 0.2rem auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100; 
    margin-bottom: 0;
}

i {
    margin-right: 0.5rem;   
}

#mainLeft {
    border-right: 1px solid lightgray;
    padding-right: 40px;
}

#mainRight {
    padding-left: 0;
}


.fa, .fab, .fas {
    color: black;
    transition: color 0.3s;
}

body.dark-mode .fa, 
body.dark-mode .fab, 
body.dark-mode .fas {
    color: #f1f1f1;
}

/* mobile */

@media screen and (max-width: 768px) {
    
    main {
        display: flex;
        flex-direction: column;
    }
    
    #mainLeft {
        width: 100% !important;
        border-right: none !important;
        border-bottom: none !important;
        
        padding-right: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    #mainRight {
        width: 100% !important;
        padding-left: 0;
    }
    .contact-links {
        display: flex;
        justify-content: center;
        gap: 2rem; /* 링크 사이 간격 */
    }
}

body.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}

body.dark-mode a {
    color: #8ab4f8;
}

body.dark-mode .fa, body.dark-mode .fab {
    color: #f1f1f1;
}

body.dark-mode hr {
    background-color: #555;
}

body.dark-mode #mainLeft {
    border-right: 1px solid #555;
}

body.dark-mode span {
    color: #bbb !important;
}

body.dark-mode p {
    color: #ddd;
}

.contact-divider {
    border: none;
    background-color: lightgray;
    height: 1px;
    margin: 3rem auto;
    width: 100%;
}

body.dark-mode .contact-divider {
    background-color: #555;
}


#contact-area {
    text-align: center;
    padding-bottom: 4rem; 
}

#contact-area section {
    margin: 0;
}
